<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="cat.dto.User"/>
        <typeAlias alias="BoardDTO" type="cat.dto.BoardDTO"/>
        <typeAlias alias="SearchCondition" type="cat.dto.SearchCondition"/>
        <typeAlias alias="CommentDTO" type="cat.dto.CommentDTO"/>
        <typeAlias alias="EventDto" type="cat.dto.ReplyEventDto"/>
        <typeAlias alias="NewCommentEvent" type="cat.event.NewCommentEvent"/>
    </typeAliases>
</configuration>